{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Admin View</title>
    <style>
        .table-container {
            text-align: center;
            margin: 0 auto;
            width: fit-content; /* Makes the container wrap its content */
        }
        table {
            margin: 0 auto; /* Centers the table */
        }
    </style>
</head>
<body>
    {% for table, table_data in data.items() %}
        <div class="table-container">
            <h2>{{ table }}</h2>
            <table border="1">
                <tr>
                    {% for column in table_data.columns %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
                {% for record in table_data.records %}
                    <tr>
                        {% for value in record %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
    {% endfor %}
</body>
{% endblock %}
